---
import MainLayout from '~/layouts/main.astro'
import { SEO } from 'astro-seo'
import site from '~/site.yml'

const posts = await Astro.glob('./blog/**/*.{md,mdx}')
---

<MainLayout>
  <SEO
    title={`${site.name} | ${site.slogan}`}
    description={site.description}
    slot="head"
  />
  <section class="max-w-screen-md mx-auto">
    {
      posts
        .sort(
          (a, b) =>
            +new Date(b.frontmatter.date) - +new Date(a.frontmatter.date)
        )
        .map((post) => (
          <article class="prose prose-lg article">
            <h2 class="title">
              <a href={post.url} rel="prefetch">
                {post.frontmatter.title}
              </a>
            </h2>
            <Fragment set:html={post.compiledContent()} />
          </article>
        ))
    }
  </section>
</MainLayout>

<style lang="scss">
  @use '../styles/fonts';

  .title {
    @extend %heading;
    @apply font-extrabold;
    > a {
      @apply font-bold link-hover;
    }
  }

  .article {
    @extend %body;
    @apply max-w-none mb-8;
  }
</style>
